{% extends "base.html" %} {% load static widget_tweaks %} {% block content %}

<h1>Obtenir des informations sur les remboursements</h1>

<form class="login" action="." method="post">
    {% csrf_token %} {% if data.category == "GOOD"%}
    <p>Le prêt peut être accordé</p>

    {% elif data.category == "BAD" %}
    <p>Le prêt ne peut pas être accordé</p>
    {% else %}
    <div>
        <label for="user.get_username">Your State</label>
        <tr>
            <td>{{form.State}}</td>
        </tr>
    </div>
    <div>
        <label for="user.get_username">Your ZipCode</label>
        <tr>
            <td>{{form.Zip}}</td>
        </tr>
    </div>
    <div>
        <label for="user.get_username">Your Bank State</label>
        <tr>
            <td>{{form.BankState}}</td>
        </tr>
    </div>
    <div>
        <label for="user.get_username">Approval Year</label>
        <tr>
            <td>{{form.ApprovalFY}}</td>
        </tr>
    </div>
    <div>
        <label for="user.get_username">Term</label>
        <tr>
            <td>{{form.Term}}</td>
        </tr>
    </div>
    <div>
        <label for="user.get_username">GrAppv</label>
        <tr>
            <td>{{form.GrAppv}}</td>
        </tr>
    </div>
    <div>
        <label for="user.get_username">SBA_Appv</label>
        <tr>
            <td>{{form.SBA_Appv}}</td>
        </tr>
    </div>
    <br />
    <button type="submit">Predict</button>
    {% endif %}
</form>

<br /><br />

{% endblock content %}
