{% load static %}
<footer>
    <section class="prefooter">
        <div class="about">
            <h3>About SBA</h3>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
        </div>
        <div class="about">
            <h3>About the site</h3>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
        </div>
        <div class="about">
            <h3>Open government</h3>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
        </div>
        <div class="Oversight">
            <h3>About SBA</h3>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
        </div>
        <div class="signup">
            <h3>Sign up</h3>
            <p>Receive information about upcoming SBA events, news alerts, and program updates.</p>
            <p>Your information will only be used in accordance with our website privacy policy.</p>
        </div>
    </section>
    <section class="footer">
        
    </section>
</footer>