{% load static %}
<header>
    <img id="hamburger" class="" src="{% static 'images/burger-bar.png' %}" alt="" class="burger">

    <nav>
        <a href="/">home</a>
        <div>
            <a href="/api_page/">Prédictions</a>
            <a href="">Fonctionalités</a>
            <a href="">Spécial</a>
        </div>

        {% if user.is_authenticated %}
            <div>
                <p>Logged as {{user.get_username}}</p>
                <a href="{% url "logout" %}">Logout</a>
            </div>
        {% else %}
            <div>
            <a href="{% url "signup" %}">Sign up</a>
            <p>|</p>
            <a href="{% url "login" %}">Login &#10132;</a>
            </div>
        {% endif %}
        <div>
            <img id="LightMode" class="theme" src="{% static "images/light-mode.png" %}" alt="">  
            <img id="DarkMode" class="theme" src="{% static "images/dark-mode.png" %}" alt="">
        </div>
    </nav>

</header>